{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        I am <b>Aroosh Rana</b>. I have a bachelor's of engineering degree in Computer Science and Engineering from Chitkara University.
        I am from Himachal Pradesh and am currently living in Zirakpur.
    </p>
    <p>
        I am computer science enthusiast. I have worked in pandas, numpy and some reporting custom modules.
        I am currently learning flask and soon will be starting with Django.
        I like working with data, storm ideas to create some algo to get what is expected.
    </p>
    <p>
        <span class="italics font-type-corsiva">"There is difference between data and Information!"</span> <br>We often have listened to this
        but I am sure until we have worked we wouldn't know what difference is there actually. Data is completely raw, it may or may not contain errors 
        but first we need to check that then only we can make it useful or in other words information.

        Pandas and Numpy are two such tools on which I worked till now. These are very extensive and one can find most of the things they want to perform
        from these.
    </p>
    <p>
        I am learning new modules of python, which could help me indulge in web development projects easily. Whatever we know until we show it to others or present
        ourselves to others it's not much of use. So learning web development using Flask and Django is my current on going step.
    </p>
    <p class="motto">
            <span class="italics font-type-corsiva">Keep Learning & Keep Growing</span>
    </p>
        
</main>
{% endblock %}