{% extends "base.html" %}
{% block content %}
<main class="main main--contact">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact--details">
                <a class="contact--link" href="mailto:arooshrana2@gmail.com">
                    arooshrana2 [at] gmail.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>LinkedIn:</dt>
            <dd class="contact--details">
                <a class="contact--link" href="https://www.linkedin.com/in/aroosh-rana-3530">
                    @aroosh.rana
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Github:</dt>
            <dd class="contact--details">
                <a class="contact--link" href="https://github.com/arooshrana2/">
                    @aroosh.rana
                </a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}